:root{
	--bgColorPrimary:#15202B;
	--bgColorSecondary:#192734;

	--borderColor:#164D56;

	--textColorPrimary:#fff;
	--textColorSecondary:#eeeeee;

	--themeDotBorder:#FFF;

	--bgColorPreview:rgb(25, 39, 52, 0.8);
	--bgColorPreviewShadow:#111921;


	--submitButtonColor:#17a2b8;


}